doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description" content="Trippy!!")
        meta(name="author" content="Aman Kumar")

        link(rel="stylesheet" href="style/style.css")
        title Hexagon

    body
        .container
            .row
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon

            .row
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon

            .row
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon

            .row
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon

            .row
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon

            .row
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon

            .row
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon

            .row
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon

            .row
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon

            .row
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
                .hexagon
